.box-1 {
  background-image: url("../images/teamwork.jpg");
  background-size: cover;
}
.box-2 {
  background: url("https://images.pexels.com/photos/1881333/pexels-photo-1881333.jpeg?cs=srgb&dl=blur-brainstorming-chatting-1881333.jpg&fm=jpg");
  background-size: cover;
}
.box-3 {
  background-image: url("https://images.pexels.com/photos/1056561/pexels-photo-1056561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.box-4 {
  background-image: url("../images/handshake.jpg");
  background-size: cover;
}
.box-5 {
  background-image: url("../images/tech_training.jpg");
  background-size: cover;
}
.box-6 {
  background-image: url("https://images.pexels.com/photos/1251176/pexels-photo-1251176.jpeg?cs=srgb&dl=builder-carpenter-close-up-1251176.jpg&fm=jpg");
  background-size: cover;
}
.box-7 {
  background-image: url("../images/forklift.jpg");
  background-size: cover;
}
.box-8 {
  background-image: url("https://images.pexels.com/photos/544966/pexels-photo-544966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.box-9 {
  background-image: url("https://images.pexels.com/photos/1062269/pexels-photo-1062269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.box-10 {
  background-image: url("https://images.unsplash.com/photo-1543936014-81db3ef51ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1882&q=80");
  background-size: cover;
}
.box-11 {
  background-image: url("../images/firefighter.jpg");
  background-size: cover;
}
.box-12 {
  background-image: url("https://images.pexels.com/photos/8159/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.box-13 {
  background-image: url("https://images.pexels.com/photos/8092/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.box-14 {
  background-image: url("https://images.unsplash.com/photo-1529479627062-5f1f0b88912a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1975&q=80");
  background-size: cover;
  right: 0;
}
