// Flexbox
@mixin flexbox() {
  display: flex;
}

// Flex Direction
@mixin flex-direction($direction) {
  flex-direction: $direction;
}

// Text Overlay Background
@mixin text-background {
  background-image: linear-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
  );
}
