// Flexbox
@mixin flexbox() {
  display: flex;
}

// Flex Direction
@mixin flex-direction($direction) {
  flex-direction: $direction;
}

// Text Overlay Background
@mixin text-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

// Simple Transition
/* @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  transition: $what $time $how;
}
