@charset 'utf-8';
@import 'variables';
@import 'mixins';
@import '../../node_modules/bulma/bulma.sass';

// Reset included in bulma files
// @import 'reset.scss';
@import 'global';
@import 'home';
// @import 'carousel';
@import 'about' ;